html {
    scroll-behavior: smooth;
}

header{
    width: 100%;
}


#intro{
    margin: 0px;
    padding: 100px;
    background-color: black;
    color: whitesmoke;
}

#intro p{
    font-size: 25px;
}

#intro input{
    width: 300px;
    border-radius: 10px;
    height: 50px;
    font-size: 25px;
    padding-left: 10px;
}

#carsection{
    margin: 5px;
    display: flex;
}

.car{
    padding: 20px;
    margin: 20px;
    display: flex;
    width: 550px;
    flex-wrap: nowrap;
}

.car img{
    width: 220px;
    height:auto;
}

.info{
    margin: 20px;
}

.info h1{
    font-size: 25px;
}

.category{
    margin: 10px;
}

.catscroll{
    overflow-x: auto;
    white-space: nowrap;
}

a {
    color: black;
    text-decoration: none;
}

#iconspopular{
    margin: 20px;
    display: flex;
    overflow-x: auto;
}

.Icon{
    margin: 20px;
    display: flex;
    padding: 20px;
    width: 420px;
}

.Icon svg{
    width: 150px;
    height: auto;
}
